#capa{
    width: 100%;
}
#capa img{ 
    width: 100%;
}  

#bio{

}

#sobre{
    color:rgb(139, 121, 97);
}

body{
    background-image: url("images/fundo.png")
}

body{ 
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.contato{
    color:rgb(139, 121, 97);
}

.conteudo{
    background-color: azure; text-align: left; padding: 10px;
}